.el-input {
  --el-input-text-color: var(--o-color-info2);
  .el-input__wrapper {
    box-shadow: none !important;
    border: 1px solid var(--o-color-control1);

    &:hover {
      border-color: var(--o-color-control2);
    }
    &.is-focus {
      box-shadow: none !important;
      border-color: var(--o-color-primary3) !important;
    }
  }
}
