.o-popup {
  --popup-shadow: var(--o-shadow-2);
  --popup-bd: 1px solid var(--o-color-control4);
  .o-popup-body {
    border-radius: var(--popup-radius);
  }
  .o-popup-anchor {
    z-index: 2;
  }
}
