.o-popup {
  --popup-shadow: var(--o-shadow-2);
  .o-popup-wrap {
    border: 1px solid var(--o-color-control4);
  }
  .o-popup-anchor {
    border: 1px solid var(--o-color-control1);
    border-width: 1px 0 0 1px;
  }
}
