html {
  --layout-pkg-radius: 4px;
}
:root {
  --o-radius_control-xs: 4px;
  --o-radius_control-s: 4px;
  --o-radius_control-m: 4px;
  --o-radius_control-l: 4px;

  --pkg-bg: rgba(var(--o-kleinblue-6), 0.05);
}

.o-btn {
  --btn-radius: var(--btn-height);
}
.o-tag {
  border-radius: var(--layout-pkg-radius);
  &.o-tag-small {
    --tag-padding: 0 4px;
  }
}
.o-icon {
  svg {
    fill: currentColor;
  }
}
.o-card {
  --card-cover-radius: 0;
  --card-radius: 0;
  --card-shadow-hover: 0 2px 24px rgba(var(--o-kleinblue-10), 0.15);
  --card-shadow-active: 0 2px 24px rgba(var(--o-kleinblue-10), 0.15);
}

.o-dialog {
  --dlg-radius: var(--layout-pkg-radius);
}

// 分页器圆角重置
.o-pagination-round-pill {
  --pagination-radius: 4px;
  .o-pagination-select {
    --select-radius: 4px;
  }
  .o-pagination-input {
    --input-radius: 4px;
  }
}
.o-dropdown-list {
  --dropdown-list-radius: 4px;
}

.o-table {
  --table-head-bg: var(--o-color-control3-light);
  th {
    font-weight: 500;
  }
}
.o-tab-nav-active {
  font-weight: 500;
}

// tag
.tags-box {
  display: flex;
  margin: 12px 0 0;
  gap: 8px;
  :deep(.o-tag-icon) {
    width: 16px;
    height: 16px;
  }
  .o-tag {
    cursor: pointer;
    &.image-icon .o-icon {
      color: #007af0;
    }
    &.epkg-icon .o-icon {
      color: #e00070;
    }
    &.rpm-icon .o-icon {
      color: #00a7b3;
    }

    svg {
      width: 16px;
      height: 16px;
      color: currentColor;
    }
  }
}

.o-input-clear {
  font-size: 20px;
}
.o-select-medium {
  --select-icon-size: 20px;
}

// 屏蔽loading 遮罩
.o-layer {
  &.o-loading {
    --layer-mask: transparent;
  }
}

.o-anchor {
  --anchor-indicator-height: 100%;
  .o-anchor-item-link {
    &:hover {
      --anchor-item-link-bg-color-hover: none;
    }
    &.is-active {
      --anchor-item-link-bg-color-active: none;
    }
  }
}
