.markdown {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--o-color-info1);
    font-weight: normal;
  }
  h1 {
    margin: 48px 0 16px;
    @include h2;
    @include respond-to('phone') {
      margin: 24px 0 8px;
    }
  }

  h2 {
    margin: 48px 0 16px;
    @include h2;
    @include respond-to('phone') {
      margin: 24px 0 8px;
    }
  }

  h3 {
    margin: 48px 0 16px;
    @include h3;

    @include respond-to('phone') {
      margin: 24px 0 8px;
    }
  }

  h4 {
    margin: 32px 0 16px;
    @include h4;
    @media screen and (max-width: 768px) {
      margin: 24px 0 8px;
    }
    @include respond-to('phone') {
      margin: 24px 0 8px;
    }
  }

  h5 {
    margin-top: 24px;
    @include text1;
  }
  p + p {
    margin-top: 12px;
  }
  p,
  ul,
  ol,
  div {
    font-weight: normal;
    word-break: break-word;
    color: var(--o-color-info2);
    @include text1;
  }
  ul,
  ol {
    // padding-left: 1em;

    li {
      margin: 12px 0;
      list-style: disc;
      margin-left: 24px;
      &::marker {
        color: var(--o-color-info1);
      }
      @include respond-to('<=pad_v') {
        margin: 8px 0;
      }
    }
  }
  ul + p {
    margin-bottom: 12px;
  }
  ol {
    list-style: auto;
    margin-left: 16px;
  }
  table {
    width: 100%;
    table-layout: fixed;
    word-break: break-word;
    border-collapse: collapse;
    margin: 16px 0;
    border: 1px solid var(--o-color-control1-light);
    tr {
      height: 54px;
      color: var(--o-color-info2);
      border-bottom: 1px solid var(--o-color-control1-light);
      th,
      td {
        // border: 1px solid var(--o-color-control1-light);
        padding: 12px 16px;
        word-break: break-word;
        @include tip1;

        @include respond-to('<=laptop') {
          padding: 8px 16px;
        }
        @include respond-to('<=pad_v') {
          padding: 8px 12px;
        }
      }
      th {
        text-align: left;
        font-weight: 500;
        color: var(--o-color-info1);
        background-color: var(--o-color-fill1);
      }
      td {
        code {
          white-space: normal;
        }
      }
      a {
        @include tip1;
      }
    }
  }

  pre,
  xmp {
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    color: var(--o-color-info2);
    font-family: 'Consolas', 'Microsoft YaHei';
  }

  .code-box {
    position: relative;
  }
  pre {
    position: relative;
    margin: 12px 0;
    background-color: var(--o-color-fill1);
    overflow-x: auto;
    z-index: 1;
    padding: 8px 12px;
    color: var(--o-color-info1);
    border-radius: var(--layout-pkg-radius);
    @include respond-to('<=pad_v') {
      border-radius: 8px;
      margin: 12px 0;
    }
    @include scrollbar;
  }

  code {
    padding: 0;
    @include tip1;
    color: var(--o-color-info2);
  }
  pre > code {
    overflow-x: auto;
    width: 96%;
    display: block;
    @include scrollbar;
  }

  .pre-copy {
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 8px;
    .icon-copy {
      display: block;
      width: 20px;
      height: 20px;
      -webkit-mask-image: url(@/assets/icon-copy.svg);
      mask-image: url(@/assets/icon-copy.svg);
      -webkit-mask-size: cover;
      background-color: var(--o-color-info2);
    }
    &:hover {
      .icon-copy {
        background-color: var(--o-color-primary1);
      }
    }
    @include respond-to('phone') {
      top: 4px;
    }
  }
}

.dark .markdown img {
  filter: brightness(80%) grayscale(20%) contrast(1.2);
}

@include in-dark {
  .markdown img {
    @include img-in-dark;
  }
}
